In [2]:
import numpy as np
import pandas as pd
import scipy.stats as st
import scipy

In [3]:
norm_sample = st.norm.rvs(size=70, loc=40000, scale=3000)

In [10]:
salary = pd.DataFrame({'money': norm_sample})
salary.head()

          money
0  41948.766069
1  36378.294162
2  38612.990850
3  39391.007703
4  41571.435060

In [63]:
st.ttest_1samp(salary, popmean=40000, alternative='greater')

Ttest_1sampResult(statistic=array([0.92202697]), pvalue=array([0.17986365]))