# Home_tast_1

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
# for Jupyter-book, we copy data from GitHub, locally, to save Internet traffic,
# you can specify the data/ folder from the root of your cloned
# https://github.com/Yorko/mlcourse.ai repo, to save Internet traffic
DATA_URL = "https://raw.githubusercontent.com/Yorko/mlcourse.ai/master/data/"

data = pd.read_csv(DATA_URL + "adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

Для удобства заменим тире на нижнее подчеркивание в названии колонок.

In [3]:
data.columns = data.columns.str.replace('-', '_')
data.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [4]:
data.sex.value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [5]:
round(data.query("sex == 'Female'").age.mean(), 2)

36.86

**3. Какова доля граждан Германии (признак *native-country*)?**

In [6]:
round(len(data.query("native_country == 'Germany'"))/len(data) * 100, 2)

0.42

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год?**

In [7]:
data.groupby('salary', as_index=False).agg({'age': [pd.Series.mean, pd.Series.std]}).round(2)

  salary    age
           mean    std
0  <=50K  36.78  14.02
1   >50K  44.25  10.52

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [8]:
data.query("salary == '>50K'").education.unique() # Легко видеть, что это неправда.

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [9]:
data.groupby(['race', 'sex']).describe().head() # 82.0

                              age                                          \
                            count       mean        std   min   25%   50%
race               sex
Amer-Indian-Eskimo Female   119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male     192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female   346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male     693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female  1555.0  37.854019  12.637197  17.0  28.0  37.0

                                        fnlwgt                 ...  \
                             75%   max   count           mean  ...
race               sex                                         ...
Amer-Indian-Eskimo Female  46.00  80.0   119.0  112950.731092  ...
                   Male    45.00  82.0   192.0  125715.364583  ...
Asian-Pac-Islander Female  43.75  75.0   346.0  147452.075145  ...
                   Male    46.00  90.0   693.0  166175.865801  ...
Black              Female  46.00  90.0  1555.0  212971.387781  ...

                          capital_loss         hours_per_week             \
                                   75%     max          count       mean
race               sex
Amer-Indian-Eskimo Female          0.0  1721.0          119.0  36.579832
                   Male            0.0  1980.0          192.0  42.197917
Asian-Pac-Islander Female          0.0  2258.0          346.0  37.439306
                   Male            0.0  2457.0          693.0  41.468975
Black              Female          0.0  4356.0         1555.0  36.834084


                                 std  min   25%   50%   75%   max
race               sex
Amer-Indian-Eskimo Female  11.046509  4.0  35.0  40.0  40.0  84.0
                   Male    11.596280  3.0  40.0  40.0  45.0  84.0
Asian-Pac-Islander Female  12.479459  1.0  35.0  40.0  40.0  99.0
                   Male    12.387563  1.0  40.0  40.0  45.0  99.0
Black              Female   9.419960  2.0  35.0  40.0  40.0  99.0

[5 rows x 48 columns]

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [10]:
# Добавим колонку, которая показывает, женат ли мужчина.
# 1 - женат, 0 -  нет.

data['status_married'] = data.marital_status.apply(lambda x: x.split('-')[0] == 'Married').astype('int64')

In [11]:
data.groupby('status_married').salary.value_counts(normalize=True)

status_married  salary
0               <=50K     0.935546
                >50K      0.064454
1               <=50K     0.563080
                >50K      0.436920
Name: salary, dtype: float64

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

Найдем сначала максимальное количество часов.

In [12]:
max_hours = data.hours_per_week.max()
max_hours

99

Теперь ответим на второй вопрос.

In [13]:
len(data[data.hours_per_week == 99]) # Количество

85

In [14]:
data[data.hours_per_week == 99].salary.value_counts(normalize=True).round(2) # Процент

<=50K    0.71
>50K     0.29
Name: salary, dtype: float64

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*). В ответе ввести для Японии**

In [15]:
mean_work = data.groupby(['native_country', 'salary'], as_index=False) \
    .hours_per_week.mean().round(3)
mean_work.head()

  native_country salary  hours_per_week
0              ?  <=50K          40.165
1              ?   >50K          45.548
2       Cambodia  <=50K          41.417
3       Cambodia   >50K          40.000
4         Canada  <=50K          37.915

In [16]:
mean_work[mean_work.native_country == 'Japan'].round() # Для Японии

   native_country salary  hours_per_week
47          Japan  <=50K            41.0
48          Japan   >50K            48.0

Итоговый балл: 10/10.